[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-forks/netbsd_src.git
	branch = netbsd_7_0
	libertine-linux-upstream = https://github.com/libertine-linux-forks/netbsd_src.git
